body { font-size: 10px;  font-family: 'Lucida Grande', sans-serif;  min-width: 357px; overflow-x: hidden; }
input { font-size: 1.4em; width: 250px; height: 25px; background: white; outline: none; width: 100%; margin:auto; }
h2 { text-align: center; font-size: 1.6em; }

img{ 
	padding: 10px;
	vertical-align: middle;
	max-width: 278px;
	margin: 10px 0;
}

.favorites{
	border: 1px solid #518CFF;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	display: block;
}

.favoriteImgHolder{
	width: 100px;
}

.favoriteImgHolder a{
	float:right;
}

.favorites img{
	vertical-align: middle;
	max-width: 100px;
	margin: 10px 0;
}

#test{
	display:none;
	width:300px;
	text-align: center;
	margin: 0 auto;
}




